:root {
  --bg-color: #d7a86e;
  --primary-color: #8e3200;
  --secondary-color: #f3b64e;
  --accent-color: #8a8635;
  --section-height: 8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", "Poppins", "Quicksand", Sans-Serif;
  background: var(--bg-color);
}

.card {
  height: 15rem;
  width: 10rem;
  overflow: hidden;
  border-radius: 4px;
  background-color: white;
}

.card img {
  display: inline-block;
  aspect-ratio: 1 / 1;
  height: 50%;
}

.card figcaption {
  font-size: 14px;
  margin: 0.5rem;
  text-align: justify;
}

header {
  width: 100vw;
  height: var(--section-height);
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

header h1 {
  font-family: "Courgette", cursive;
  font-size: 2.5rem;
  z-index: 10;
}

main {
  height: 100vh;
  display: grid;
  margin: var(--section-height) 0;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-content: center;
  align-items: center;
  justify-items: center;
  row-gap: 2rem;
}

footer {
  width: 100vw;
  height: var(--section-height);
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

footer p {
  font-family: "Raleway", Sans-Serif;
  font-size: 1.1rem;
  font-weight: 400;
  word-spacing: 0.2em;
}

footer .heart {
  color: #e61f1f;
}

footer a {
  text-decoration: none;
  color: var(--accent-color);
}
